<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizations</title>
</head>
<body>
    <h1>Organizations</h1>
    <a href="{% url 'organization_create' %}">Create New Organization</a>
    <ul>
        {% for org in organizations %}
            <li>{{ org.name }} - {{ org.address }} {% if org.is_main %}(Main Organization){% endif %}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'user_list' %}">Go to Users</a>
</body>
</html>
